<template>
    <div id="vtp-filterbox">
        <div id="vtp-search-bytags-taglistbox"
             class="ui-corner-all">
            <button id="vtp-icon-clear-taglistbox" class="vtp-button vtp-uiaction-search-bytags-clear-taglistbox"></button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "AppTagList",
    }
</script>

<style scoped>

</style>