@import "../variables/colors";

.custom-checkbox {
  border: 1px solid $vitoop-blue-color;
  position: absolute;
  border-radius: 50%;
  background: #deedf7;
  cursor: pointer;
  width: 14px;
  height: 14px;
  top: 50%;
  left: 0;
  transform: translate(0,-50%);

  &__wrapper {
    padding-left: 20px;
    position: relative;

    &.light {

      .custom-checkbox {
        background: #dfedf8;
      }
    }

    &.light-blue {

      .custom-checkbox {
        background: #f2f5f7;
      }
    }

    &.no-title {
      padding-left: 0;
      position: static;

      .custom-checkbox {
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }

    &.square-checkbox {

      .custom-checkbox {
        background-color: #f2f2f2;
        border-color: #9dcff7;
        border-radius: 2px;
      }

      input[type="checkbox"] {

        &:checked + .custom-checkbox {
          background-color: white;
          border-color: #2779aa;
        }
      }
    }

    input[type="checkbox"] {
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0 !important;

      &:checked + .custom-checkbox {
        .custom-checkbox__check {
          opacity: 1;
        }
      }
    }
  }

  &__check {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: .3s;
    opacity: 0;
  }
}

#vtp-search-input {
  input {
    height: 18px;
    background: #ffffff8f;
    margin-right: 23px;
    border-radius: 5px;
    padding: 0 20px 0 15px;
    width: 230px;
    color: #3d80b3;
    font-size: 12px;
  }

  i.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 43px;
    font-size: 11px;
    color: #3d80b3;
  }
}

mark {
  background-color: #3d80b3;
  color: white;
}
