<div class="created-info{{ fieldSuffix }}">
    <div class="vtp-fh-w10"></div>
    <div class="vtp-fh-w90 vtp-right">
        <div class="vtp-fh-infosave-box vtp-fh-infosave-box-left blau-gradient vtp-right">
            <label class="custom-checkbox__wrapper light-blue"
                   style="margin-left: 3px;"
                   for="{{ restype }}_isUserHook">
                {{ form_widget(fvdata.isUserHook) }}
                <span class="custom-checkbox">
                    <img class="custom-checkbox__check"
                         src="/img/check.png" />
                </span>
            </label>
            <span class="blau-text"></span>
        </div>
        <div class="vtp-fh-infosave-box vtp-fh-infosave-box-right vtp-even-background">
             <span class="blau-text">&nbsp;&nbsp;Eingetragen am: {{ res.createdat|date('d.m.Y') }}{% if res.getUser is not null %}&nbsp;&nbsp;|&nbsp;&nbsp;von: {{ res.getUser.getUsername }}{% endif %}&nbsp;&nbsp;|&nbsp;&nbsp;ID: {{ res.getId }}</span>
             <input type="button"
                    class="vtp-button vtp-button-read ui-state-default"
                    value="gelesen">
        </div>
    </div>
</div>