{% extends "VitoopInfomgmtBundle:Resource:layout.html.twig" %}
{% block content %}
    {{ form_start(fvvitoopblog, {'attr': {'id': 'vtp-form-vitoop-blog', 'novalidate': 'novalidate' }}) }}
    {{ fvvitoopblog|json_encode() }}
    <fieldset class="ui-corner-all">
        <legend>{{'label.news'|trans}}</legend>
        <div id="vtp-vitoopblog-box">
            {% if infovitoopblog is defined and infovitoopblog is not empty %}
                <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
                    <span class="vtp-icon ui-icon ui-icon-info"></span>{{ infovitoopblog }}
                </div>
            {% endif %}
            <div id="vtp-vitoopblog-sheet-edit">
                {{ form_errors(fvvitoopblog.sheet) }}
                {{ form_widget(fvvitoopblog.sheet) }}
                <div id="vtp-vitoopblog-save-container">
                    {{ form_widget(fvvitoopblog.save, {'attr': {'class': 'vtp-uiinfo-anchor' }}) }}
                </div>
            </div>
        </div>
    </fieldset>
    {{ form_end(fvvitoopblog) }}
{% endblock %}