{% extends "VitoopInfomgmtBundle:Resource:layout.html.twig" %}
{% block content %}
    <fieldset class="ui-corner-all margin-top-3">
        {{ vitoopblog.sheet|raw }}
    </fieldset>
{% endblock %}