{% extends "VitoopInfomgmtBundle::layout.html.twig" %}
{% block title %}{% endblock %}
{#% block includescript %}
    <script src="{{ asset('js/vitoop.js') }}"></script>
{% endblock %#}
{% block onloadscript %}
    <script type="text/javascript">
        // $(function () {
        //     resourceList.init();
        //     resourceDetail.init();
        //     resourceSearch.init();
        //     resourceProject.init();
        //     userInteraction.init();
        // });
    </script>
{% endblock %}