{# VitoopInfomgmtBundle:Resource:xhr.resource.remark_private.html.twig #}
{{ form_start(fvremarkpr, {'attr': {'id': 'form-remark-private', 'novalidate': 'novalidate' }}) }}
{% if inforemark is defined and inforemark is not empty %}
    <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
        <span class="vtp-icon ui-icon ui-icon-info"></span>{{ inforemark }}
    </div>
{% endif %}
<div id="vtp-remark-private-box" style="display:none">
    <div id="vtp-remark-sheet-edit">
            {{ form_errors(fvremarkpr.text) }}
            {{ form_widget(fvremarkpr.text, {'attr': {'placeholder': 'In dem Bereich kannst Du private Notizen machen, die andere Nutzer nicht einsehen können.'}}) }}
    </div>
    <div id="vtp-remark-buttons">
        {{ form_widget(fvremarkpr.save, {'attr': {'class': 'vtp-uiinfo-anchor' }}) }}
    </div>
</div>
{{ form_end(fvremarkpr) }}

