{# VitoopInfomgmtBundle:Resource:xhr.resource.project.html.twig #}
{{ form_start(fvassignproject, {'attr': {'id': 'form-assign-project', 'novalidate': 'novalidate' }}) }}
<fieldset class="ui-corner-all">
    <legend>Verknüpfungen mit Projekten</legend>
    {% if infoassignproject is not empty %}
        <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
            <span class="vtp-icon ui-icon ui-icon-info"></span>
            {{ infoassignproject }}
        </div>
    {% endif %}
    {{ form_errors(fvassignproject) }}
    <div>
        {# form_label(fvassignproject.name, null, {'label_attr': {'class': 'vtp-form-w20' }}) #}
        {{ form_widget(fvassignproject.name, {'attr': {'class': 'vtp-fh-w63' }}) }}
        {{ form_widget(fvassignproject.save, {'attr': {'class': 'vtp-uiinfo-anchor' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvassignproject.name) }}</div>
    </div>
    <div id="vtp-projectbox" class="vtp-collectionbox ui-corner-all">
        {% for everyproject in projects %}
            <span class="vtp-projectbox-project ui-corner-all">
                <span class="vtp-icon-prj ui-icon ui-icon-folder-open"></span>
                {{ everyproject.name }}
            </span>
        {% else %}
            <div id="vtp-projectbox-no-project">{{ 'You don\'t have a project jet'|trans }}</div>
        {% endfor %}
    </div>
</fieldset>
{{ form_end(fvassignproject) }}