{# VitoopInfomgmtBundle:Resource:xhr.resource.tag.html.twig #}
{{ form_start(fvtag, {'attr': {'id': 'form-tag', 'novalidate': 'novalidate' }}) }}
<fieldset class="ui-corner-all">
    <legend>Tag</legend>
    {% if infotag is not empty %}
        <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
            <span class="vtp-icon ui-icon ui-icon-info"></span>
            {{ infotag }}
        </div>
    {% endif %}
    {{ form_errors(fvtag) }}
    <div>
        {# form_label(fvtag.text, null, {'label_attr': {'class': 'vtp-form-w20' }}) #}
        {{ form_widget(fvtag.can_add) }}
        {{ form_widget(fvtag.can_remove) }}
        {{ form_widget(fvtag.text, {'attr': {'class': 'vtp-fh-w40'}}) }}
        <input type="button" id="tag_confirm_save" title="{{ 'label.tag.add'|trans }}" name="tag[confirm_save]" class="vtp-uiinfo-anchor vtp-tag-submit ui-button ui-widget ui-state-default ui-corner-all" style="font-weight: normal; height: 24px; padding-top: 0px; padding-bottom: 0px;" value="+{{tagsRestAddedCount}}" role="button" aria-disabled="false">
        {{ form_widget(fvtag.remove, {'value': '-'~tagsRestRemovedCount, 'attr': {'class': 'vtp-uiinfo-anchor vtp-tag-submit' }}) }}
        <span style="float: right;">
            <button id="vtp-tagbox-help" help-area="tag" class="vtp-help-area-button vtp-button ui-state-default ui-button ui-widget ui-corner-all ui-button-icon-only" type="button">
                <span class="ui-button-icon ui-icon ui-icon-help"></span><span class="ui-button-text"></span>
            </button>
            {{ form_label(fvtag.showown, null, {'label_attr': {'class': 'vtp-fh-h22' }}) }}
            {{ form_widget(fvtag.showown, {'attr': {'id': 'vtp-tgl-tag-showown', 'class': 'vtp-uiaction-tag-showown' }}) }}
        </span>
        <div id="div-confirm-tagging" class="vtp-fh-w100" style="margin-top: 9px; display: none">
            <fieldset class="ui-corner-all vtp-tagbox-info" style="padding-top:10px;">
                <legend>Bevor Du ein neues Tag anlegst, beachte bitte folgende Punkte:</legend>
                <ul style="margin-bottom: 12px; margin-top: 10px;">
                    <li>Wenn es schon ein Tag gibt, das den Datensatz treffend beschreibt, verwende bitte das schon bestehende Tag.</li>
                    <li> Wenn es irgendwie Sinn macht, verwende den Singular (z.B. Baum statt Bäume).</li>
                    <li> Bitte richtige Rechtschreibung beachten.</li>
                    <li> Die Tag-Liste wird redaktionell bearbeitet.</li>
                    <li> Alle Tags sind für alle Nutzer von vitoop.org sichtbar.</li>
               </ul>
                <p style="margin: 12px 26px 8px; display: flex; align-items: center;">
                    <strong style="padding-right: 45px; display: inline-block; vertical-align: bottom;">Willst Du in der Tag-Liste ein neues Tag anlegen?</strong>
                    {{ form_widget(fvtag.save, {'attr': {'class': 'vtp-uiinfo-anchor vtp-tag-submit', 'style': 'width: 63px' }}) }}
                    <input type="button"
                           id="tag_cancel_save"
                           name="tag[cancel_save]"
                           class="vtp-uiinfo-anchor vtp-tag-submit ui-button ui-widget ui-state-default ui-corner-all"
                           style="height: 24px; padding-top: 0px; padding-bottom: 0px; font-weight: normal; margin-left: 5px"
                           value="Nein"
                           role="button"
                           aria-disabled="false">
                </p>
            </fieldset>
        </div>
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvtag.text) }}</div>
    </div>
    <div id="vtp-tagbox" class="ui-corner-all">
        {% for everytag in tags %}
            <span id="spanTag_{{everytag.id}}" class="vtp-tagbox-tag {% if everytag.is_own %}vtp-owntag {% endif %}ui-corner-all">                
                <span class="vtp-icon-tag ui-icon ui-icon-tag"></span>
                {{ everytag.text }}
                <span class="vtp-tagbox-cnttag">({{ everytag.cnt_tag }})</span>
            </span>
        {% endfor %}
    </div>
</fieldset>
{{ form_end(fvtag) }}