{# VitoopInfomgmtBundle:Resource:xhr.resource.data.pdf.html.twig #}
{{ form_start(fvdata, {'attr': {'id': 'vtp-form-data', 'novalidate': 'novalidate' }}) }}
<fieldset class="ui-corner-all">
    <legend>{{ res.resourcename }}</legend>
    {% if infodata is not empty %}
        <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
            <span class="vtp-icon ui-icon ui-icon-info"></span>{{ infodata }}
        </div>
    {% endif %}
    <ul id="unique-url-error" style="display: none">
        <li>Diese Url existiert schon. (Id# <span id="unique-url-error-id"></span> "<span id="unique-url-error-name"></span>")</li>
    </ul>
    {{ form_errors(fvdata) }}
    <div class="vtp-fh-top">
        {{ form_label(fvdata.name, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.name, {'attr': {'class': 'vtp-fh-w90 vtp-right' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.name) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.author, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.author, {'attr': {'class': 'vtp-fh-w90 vtp-right' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.author) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.publisher, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.publisher, {'attr': {'class': 'vtp-fh-w90 vtp-right' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.publisher) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.url, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {% if isNew %}
            {{ form_widget(fvdata.url, {'attr': {'class': 'vtp-fh-w90 vtp-right', 'onblur': 'vitoopApp.checkUniqueUrl("pdf", event);'}}) }}
        {%else%}
            <div class="vtp-fh-right vtp-fh-w0 vtp-right"><a href="{{ res.url }}" target="_blank" class="vtp-uiaction-open-url vtp-button">URL öffnen</a></div>
            {{ form_widget(fvdata.url, {'attr': {'class': 'vtp-fh-w80 vtp-right', 'onblur': 'vitoopApp.checkUniqueUrl("pdf", event);', 'style': 'width: 82%' }}) }}
        {%endif%}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.url) }}</div>
    </div>
    
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.tnop, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        <div class="vtp-fh-w90 vtp-right">
            {{ form_widget(fvdata.tnop, {'attr': {'class': 'vtp-fh-w15' }}) }}
            <div class="vtp-fh-w50 vtp-right vtp-pdf-lang-field vtp-right-dropdown" style="width: 43%">
                {{ form_widget(fvdata.lang, {'attr': {'class': 'vtp-right' }}) }}
                {{ form_label(fvdata.lang, null, {'label_attr': {'class': 'vtp-fh-w20 vtp-right' }}) }}
            </div>
            <div class="vtp-fh-w35 vtp-right vtp-pdf-date-field">
                {{ form_widget(fvdata.pdfDate, {'attr': {'class': 'vtp-fh-w60 vtp-right' }}) }}
                {{ form_label(fvdata.pdfDate, null, {'label_attr': {'class': 'vtp-fh-w35 vtp-right' }}) }}
            </div>
        </div>
    </div>
    <div>
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.tnop) }}</div>
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.pdfDate) }}</div>
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.lang) }}</div>
    </div>
    {% include 'VitoopInfomgmtBundle:Resource:_userHook.field.html.twig' with {'fvdata': fvdata, 'res': res, 'fieldSuffix': '-book', 'restype': 'pdf'} %}
    {% if isShowSave %}
    <div class="vtp-fh-bottom">
        <div class="vtp-fh-w70"></div>
        <div class="vtp-fh-right vtp-fh-w30 vtp-right">
            {{ form_widget(fvdata.save, {'attr': {'class': 'vtp-uiinfo-anchor' }}) }}
        </div>
    </div>
    {% else %}
        <div class="vtp-fh-bottom-last"></div>
        {% do fvdata.save.setRendered %}
    {%endif%}
</fieldset>
{{ form_end(fvdata) }}