{# VitoopInfomgmtBundle:Resource:xhr.resource.data.book.html.twig #}
{{ form_start(fvdata, {'attr': {'id': 'vtp-form-data', 'novalidate': 'novalidate' }}) }}
{% spaceless %}
<fieldset class="ui-corner-all">
    <legend>{{ res.resourcename }}</legend>
    {% if infodata is not empty %}
        <div class="vtp-uiinfo-info ui-state-highlight ui-corner-all">
            <span class="vtp-icon ui-icon ui-icon-info"></span>{{ infodata }}
        </div>
    {% endif %}
    <ul id="unique-url-error" style="display: none">
        <li>Diese Url existiert schon. (Id# <span id="unique-url-error-id"></span> "<span id="unique-url-error-name"></span>")</li>
    </ul>
    <ul id="unique-book-error" style="display: none">
        <li>Diese Buch existiert schon. (Id# <span id="unique-book-error-id"></span> "<span id="unique-book-error-name"></span>")</li>
    </ul>
    {{ form_errors(fvdata) }}
    <div class="vtp-fh-top">
        {{ form_label(fvdata.name, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.name, {'attr': {'class': 'vtp-fh-w90 vtp-right' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.name) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.author, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.author, {'attr': {'class': 'vtp-fh-w90 vtp-right' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.author) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.publisher, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.publisher, {'attr': {'class': 'vtp-fh-w90 vtp-right' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.publisher) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.issuer, null, {'label_attr': {'class': 'vtp-fh-w10' }}) }}
        {{ form_widget(fvdata.issuer, {'attr': {'class': 'vtp-fh-w90 vtp-right' }}) }}
        <div class="vtp-uiinfo-form-error">{{ form_errors(fvdata.issuer) }}</div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.isbn, null, {'label_attr': {'class': 'vtp-fh-w10'}}) }}
        <div class="vtp-fh-w90 vtp-right">
            {{ form_widget(fvdata.isbn, {'attr': {'class': 'vtp-fh-w25', 'onblur': 'vitoopApp.checkUniqueBook(\'isbn\', event);', 'old': fvdata.vars.value.isbn }}) }}
            <div class="vtp-fh-w35 vtp-right">
                {{ form_widget(fvdata.tnop, {'attr': {'class': 'vtp-fh-w60 vtp-right' }}) }}
                {{ form_label(fvdata.tnop, null, {'label_attr': {'class': 'vtp-fh-w35 vtp-right vtp-label-right' }}) }}
            </div>
            <div class="vtp-fh-w35 vtp-right">
                {{ form_widget(fvdata.year, {'attr': {'class': 'vtp-fh-w60 vtp-right' }}) }}
                {{ form_label(fvdata.year, null, {'label_attr': {'class': 'vtp-fh-w35 vtp-right vtp-label-right' }}) }}
            </div>

        </div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_label(fvdata.lang, null, {'label_attr': {'class': 'vtp-fh-w10', 'style': 'margin-bottom: -5px;' }}) }}
        <div class="vtp-fh-w90 vtp-right">
            {{ form_widget(fvdata.lang, {'attr': {'class': 'vtp-fh-30'}}) }}
            <div class="vtp-fh-w70 vtp-right">
                {{ form_label(fvdata.kind, null, {'label_attr': {'class': 'vtp-fh-w20 vtp-label-right', 'style': 'width: 18%; margin-bottom: 5px' }}) }}
                {{ form_widget(fvdata.kind, {'attr': {'class': 'vtp-fh-w80 vtp-right',  'style': 'width: 80%; margin-left: 6px;' }}) }}
            </div>
        </div>
    </div>
    <div class="vtp-fh-middle">
        {{ form_errors(fvdata.isbn) }}
        {{ form_errors(fvdata.tnop) }}
        {{ form_errors(fvdata.lang) }}
        {{ form_errors(fvdata.kind) }}
        {{ form_errors(fvdata.year) }}
    </div>
    {% include 'VitoopInfomgmtBundle:Resource:_userHook.field.html.twig'
        with {'fvdata': fvdata, 'res': res, 'fieldSuffix': '-book', 'restype': 'book'}
    %}
    {% if isShowSave %}
    <div class="vtp-fh-bottom">
        <div class="vtp-fh-w70"></div>
        <div class="vtp-fh-right vtp-fh-w30 vtp-right">
            {{ form_widget(fvdata.save, {'attr': {'class': 'vtp-uiinfo-anchor' }}) }}
        </div>
    </div>
    {% else %}
        <div class="vtp-fh-bottom-last"></div>
        {% do fvdata.save.setRendered %}
    {%endif%}
</fieldset>
{% endspaceless %}
{{ form_end(fvdata) }}