{% extends 'VitoopInfomgmtBundle:View:resource.layout.html.twig' %}

{% block pdfview %}
    <div class="toolbar">
        <button class="cursor" type="button" title="Cursor" data-tooltype="cursor">➚</button>

        <div class="spacer"></div>

        <button class="rectangle" type="button" title="Rectangle" data-tooltype="area">&nbsp;</button>
        <button class="highlight" type="button" title="Highlight" data-tooltype="highlight">&nbsp;</button>
        <button class="underline" type="button" title="Underline" data-tooltype="underline">&nbsp;</button>

        <div class="spacer"></div>

        <button class="text" type="button" title="Text Tool" data-tooltype="text"></button>
        <select class="text-size"></select>
        <div class="text-color"></div>

        <div class="spacer"></div>

        <button class="pen" type="button" title="Pen Tool" data-tooltype="draw">✎</button>
        <select class="pen-size"></select>
        <div class="pen-color"></div>

        <div class="spacer"></div>

        <a href="javascript://" class="clear" title="Clear">×</a>
    </div>
    <div id="pdf-view-wrapper">
        <div id="pdf-view" class="pdfViewer"></div>
    </div>
{% endblock pdfview %}
