/* Component containers
.ui-widget {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	background: #f2f5f7 url(images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x;
	color: #362b36;
}
.ui-widget-content a {
	color: #362b36;
}
.ui-widget-header {
	border: 1px solid #aed0ea;
	background: #deedf7 url(images/ui-bg_highlight-soft_100_deedf7_1x100.png) 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}
 Interaction states
----------------------------------
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #aed0ea;
	background: #d7ebf9 url(images/ui-bg_glass_80_d7ebf9_1x400.png) 50% 50% repeat-x;
	font-weight: bold;
	color: #2779aa;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #2779aa;
	text-decoration: none;
}
*/

/************************************************************
 * GENERAL                                               *
 ************************************************************/

html, body {
    height: 100%;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    background-color: #f2f5f7;
    color: #362b36;
    width: 100%;
}

h1 {
    font-size: 1.2em;
}

table {
    width: 100%;
    margin-top: 3px;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

div#vtp-res-list table tr:first-of-type th {
    color: #2779aa !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px !important;
}

td {
    border: none !important;
    text-align: left;
    padding: 9px 1px 9px 3px;
}

th {
    background-color: #deedf7;
    text-align: left;
    font-weight: normal;
}

thead > tr, tfoot > tr, .tanz {
    background-color: hsla(216, 100%, 59%, 0.5);
    border-radius: 30px;
}

.vtp-odd > td {
    background-color: #f2f5f7;
    color: #362b36;
}

.vtp-even > td, th {
    background-color: #deedf7;
    color: #222222;
}

td > div {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

div.vtp-teasefader {
    position: absolute;
    width: 2em;
    height: 100%;
    top: 0;
    right: 0;
}

tr.vtp-odd div.vtp-teasefader {
    /* #f2f5f7 */
    background-image: linear-gradient(to right, rgba(242, 245, 247, 0), rgba(242, 245, 247, 1) 90%);
}

tr.vtp-even div.vtp-teasefader {
    /* #deedf7 */
    background-image: linear-gradient(to right, rgba(222, 237, 247, 0), rgba(222, 237, 247, 1) 90%);
}

tr.vtp-hilight td {
    background-color: #ffffff;
    color: #2779aa;
}

tr.vtp-hilight div.vtp-teasefader {
    /* #ffffff */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
}

td.ui-state-active div.vtp-teasefader-wrapper {
    background: inherit;
}

td.ui-state-active div.vtp-teasefader {
    /* #3bbae3 */
    background: inherit;
    opacity: 0.8;
}

tr.vtp-state-active td {
    color: #2779aa;
    font-weight: bold;
}

input[disabled='disabled'],
select[disabled='disabled'],
textarea[disabled='disabled'] {
    -webkit-text-fill-color: rgba(0, 0, 0, 1);
    -webkit-opacity: 1;
    color: rgba(0, 0, 0, 1);
    background-color: #eeeeee;
}

input, select, textarea {
    border: 2px solid #aed0ea;
    border-radius: 6px;
    padding: 1px 1px 1px 2px;
    background: #ffffff;
    -webkit-appearance: none;
}

input, select, label {
    vertical-align: middle;
}

input[type="submit"], .vtp-button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-weight: normal !important;
    height: 24px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    vertical-align: middle;
}

.vtp-button .ui-button-text {
    font-weight: normal !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.vtp-extlink {
    display: inline-block !important;
    border: 1px solid #aed0ea;
    border-radius: 6px;
}

.vtp-odd .vtp-extlink {
    background-color: #deedf7;
}

.vtp-even .vtp-extlink {
    background-color: #f2f5f7;
}

.vtp-even .ui-state-active .vtp-extlink,
.vtp-odd .ui-state-active .vtp-extlink {
    background-color: transparent;
}

.vtp-rating-image-small {
    width: 64px;
    background-repeat: repeat-y;
    background-size: 64px auto;
    text-align: center;
}

#vtp-resource-pagination-tr td {
    padding: 0;
}

/************************************************************
 * vtp-search-bytags                                        *
 * vtp-tagbox                                               *
 ************************************************************/

#vtp-search-bytags-form {
    float: right;
}

#vtp-search-bytags-tagcnt {
    min-width: 3em;
}

#vtp-search-bytags-taglist {
    width: 230px;
}

#vtp-search-bytags-taglistbox {
    position: relative;
    border: 2px solid #f2f5f7;
    padding: 0.3em 1em 0.3em 0.3em;
}

span.vtp-icon-clear-taglistbox {
    display: inline-block;
    position: absolute;
    border: 1px solid #aed0ea;
    top: 0.2em;
    right: 0.2em;
    margin: 0.2em;
    background-color: #f2f5f7;
    cursor: pointer;
}

span.vtp-search-bytags-tag,
span.vtp-tagbox-tag,
span.vtp-tagbox-lexicon-tag-lexicon,
span.vtp-lexiconbox-item,
span.vtp-projectbox-project {
    display: inline-block;
    position: relative;
    background-color: #deedf7;
    color: #222222;
    padding: 0 0.2em 0 1.3em;
    margin: 2px 0.2em 2px 0;
}

span.vtp-search-bytags-tag {
    background-color: #f2f5f7;
    color: #362b36;
    padding: 0 2em 0 1.3em;
    transition: padding 0.4s ease 0s;
}

span.vtp-search-bytags-tag.vtp-search-bytags-tag-bulb {
    background-color: #3baae3;
}

span.vtp-search-bytags-tag.vtp-search-bytags-tag-bulb > span {
    background-image: url("../img/ui-icons_ffffff_256x240.png");
}

span.vtp-search-bytags-tag.vtp-search-bytags-tag-ignore {
    text-decoration: line-through;
}

span.vtp-search-bytags-tag.vtp-search-bytags-tag-active {
    padding: 0 4em 0 1.3em !important;
}

span.vtp-tagbox-cnttag,
span.vtp-lexiconbox-cntres {
    font-size: 0.8em;
}

span.vtp-icon-tag,
span.vtp-icon-lex,
span.vtp-icon-prj,
span.vtp-icon-close {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: -8px 0 0 0;
}

span.vtp-icon-tag,
span.vtp-icon-lex,
span.vtp-icon-prj {
    left: 0.1em;
}

span.vtp-icon-cancel {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: -8px 0 0 0;
    right: 1.2em;
}

span.vtp-icon-bulb {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: -8px 0 0 0;
    right: 2.2em;
}

span.vtp-icon-close {
    right: 0.1em;
}

span.vtp-uiaction-search-bytags-removetag, span.vtp-icon-tag, span.vtp-icon-cancel, span.vtp-icon-bulb {
    cursor: pointer;
}

span.vtp-owntag-hilight {
    background-color: #3baae3;
}

#vtp-tagbox,
#vtp-tagbox-lexicon,
.vtp-collectionbox {
    border: 0.2em solid #aed0ea;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em;
    min-height: 1.5em;
    max-height: 4em;
    overflow: auto;
}

#lexicon-main {
    border: 1px solid #aed0ea;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em;
    min-height: 1.5em;
    overflow: auto;
}

#lexicon-main hr {
    border: 1px solid #111111;
    border-bottom: none;
}

#lexicon-rights {
    font-size: 12px;
}

span.vtp-lexiconbox-cntres {
    font-size: 0.8em;
}

#lexicon-tags {
    margin-top: 40px;
}

/************************************************************
 * vtp-detail                                               *
 ************************************************************/

.labelright {
    text-align: right;
}

.vtp-fh-top {
    padding-bottom: 2px;
}

.vtp-fh-middle {
    padding-top: 2px;
    padding-bottom: 2px;
}

.vtp-fh-bottom {
    margin-top: 10px;
    padding-top: 2px;
}

.vtp-fh-infosave-box {
    font-size: smaller;
    vertical-align: bottom;
}

.vtp-fh-right {
    text-align: right;
}

.vtp-fh-w0, .vtp-fh-w100,
.vtp-fh-w10, .vtp-fh-w20, .vtp-fh-w30, .vtp-fh-w31, .vtp-fh-w40, .vtp-fh-w50,
.vtp-fh-w60, .vtp-fh-w70, .vtp-fh-w80, .vtp-fh-w90,
.vtp-fh-w05, .vtp-fh-w15, .vtp-fh-w16, .vtp-fh-w25, .vtp-fh-w29, .vtp-fh-w35, .vtp-fh-w75, .vtp-fh-w85 {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.vtp-fh-w05 {
    width: 4%;
}

.vtp-fh-w10 {
    width: 9%;
}

.vtp-fh-w15 {
    width: 14%;
}

.vtp-fh-w16 {
    width: 15%;
}

.vtp-fh-w20 {
    width: 19%;
}

.vtp-fh-w25 {
    width: 24%;
}

.vtp-fh-w30 {
    width: 29%;
}

.vtp-fh-w29 {
    width: 28%;
}

.vtp-fh-w31 {
    width: 30%;
}

.vtp-fh-w35 {
    width: 34%;
}

.vtp-fh-w40 {
    width: 39%;
}

.vtp-fh-w50 {
    width: 48%;
}

.vtp-fh-w60 {
    width: 58%;
}

.vtp-fh-w70 {
    width: 68%;
}

.vtp-fh-w75 {
    width: 73%;
}

.vtp-fh-w80 {
    width: 78%;
}

.vtp-fh-w85 {
    width: 83%;
}

.vtp-fh-w90 {
    width: 88%;
}

.vtp-fh-w95 {
    width: 95%;
}

.vtp-fh-w97 {
    width: 97%;
}

.vtp-fh-w100 {
    width: 100%;
}

.vtp-fh-h24 {
    height: 24px;
}

.vtp-dialog-submit {
    border: 1px solid #2694e8;
    background-color: #3baae3;
    font-weight: bold;
    color: #ffffff;
    padding: 0.3em;
}

.right {
    text-align: right;
    padding: 0.5em 0 0 0;
}

span.beta-status {
    display: block;
    font-size: 14px;
    font-weight: 400;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #2779aa !important;
    padding-left: 63px;
    margin-bottom: -11px;
}

#vtp-flag-box {
    padding-bottom: 10px;
    padding-left: 10px;
}



input[type=number].vtp-uiaction-coefficient::-webkit-inner-spin-button, input[type=number].vtp-uiaction-coefficient::-webkit-outer-spin-button {
    width: 8px;
}

#vtp-res-dialog-tabs form {
    position : relative;
}

#vtp-application .ui-widget {
    font-size: 1em;
}

#vtp-res-dialog, #vtp-res-dialog-tabs {
    border: none;
    padding: 0;
}

.margin-top-3 {
    margin-top: 3px;
}

div.vtp-uiinfo-info, div.vtp-uiinfo-infobox {
    position: relative;
    z-index: 10;
    margin: 0 0 0.5em 0;
    padding: 0.2em 0.2em 0.2em 1.5em;
    font-weight: normal;
}

div.vtp-uiinfo-info {
    position: absolute;
    display: inline-block;
}

span.vtp-icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    margin: -8px 0 0 0;
    left: 0.1em;
}

#vtp-header {
    border: 1px solid #aed0ea;
    /*background-color: #deedf7;*/
    background: #f2f8fc; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f8fc 0%, #cfe7f7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f8fc), color-stop(100%,#cfe7f7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f2f8fc 0%,#cfe7f7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f2f8fc 0%,#cfe7f7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f2f8fc 0%,#cfe7f7 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f2f8fc 0%,#cfe7f7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f8fc', endColorstr='#cfe7f7',GradientType=0 ); /* IE6-9 */
    color: #222222;
    padding: 0.5em 0.5em;
}

#vtp-nav {
    background: transparent;
}

.vtp-logo {
    padding-left: 7px;
    font-family: Merriweather, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 200%;
    border: 0 none;
}

.vtp-logo a {
    color: #2779aa;
    text-decoration: none;
}

.vtp-logo span {
    color: #aed0ea;
}

#vtp-wrapper {
    margin: auto;
    min-width: 960px;
    max-width: 1140px;
}

.vtp-paddingbox {
    padding: 5px 0px 2px 0px;
}

/************************************************************
 * vtp-login                                               *
 ************************************************************/
#vtp-header-status {
    text-align: right;
    font-size: 0.8em;
}

#vtp-header-admin-buttons {
}

#vtp-header-status .vtp-button {
    height: 20px;
}

#vtp-header-status form {
    display: inline;
}

#vtp-login {
    width: 22em;
    margin: 5em auto 5em;
    border: 1px solid #aed0ea;
    background-color: #deedf7;
    color: #222222;
    padding: 0.5em 0.5em;
}

#vtp-login label, #vtp-login input[type="text"], #vtp-login input[type="password"] {
    display: inline-block;
    width: 60%;
}

#vtp-login label {
    width: 35%;
}

#vtp-login div.vtp-submit-wrapper {
    padding: 0.5em 9px 0.5em 0.5em;
    text-align: right;
}

#vtp-login input[type="submit"] {
}

#vtp-login .ui-state-highlight {
    margin-top: 4px;
    margin-right: 10px;
    padding: 2px 4px;
}

#login-button-main {
    padding: 4px 5px;
}
/************************************************************
 * vtp-rating                                               *
 ************************************************************/

#vtp-rating-infobox-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 92px;
}

#vtp-rating-infobox-li {
    margin: 0.5em 0 0 1em;
}

.vtp-rating-infobox {
    position: absolute;
    width: 92px;
    text-align: center;
}

#vtp-rating-infobox-1 {
    z-index: 3;
}

#vtp-rating-infobox-2 {
    z-index: 2;
}

#vtp-rating-infobox-3 {
    z-index: 1;
}

#vtp-rating-infobox-left, #vtp-rating-infobox-right {
    display: inline-block;
    cursor: pointer;
}

#vtp-rating-slider-container, #vtp-rating-dropdown-form {
    display: inline-block;
    width: 50%;
}

#vtp-rating-slider-slider {
    width: 80%;
    margin: auto;
}

#vtp-rating-slider, #vtp-rating-dropdown {
}

/************************************************************
 * vtp-remark                                          *
 ************************************************************/

#vtp-remark-box {
    position: relative;
}

#vtp-remark-sheet-view {
    background-color: #ffffff;
    min-width: 320px;
    max-width: 460px;
    height: 300px;
    overflow: auto;
    padding: 5px;

}

#vtp-remark-buttons {
   text-align: right;
    margin-top: 10px;
}

#vtp-remark-owner {
    font-weight: normal !important;
    padding: .4em 1em;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    vertical-align: middle;
    height: 22px;
    line-height: 24px;
    cursor: default !important;
}

/************************************************************
 * vtp-flag                                                 *
 ************************************************************/

#vtp-res-flag-form {
    position: relative;
}

#vtp-res-flag-form textarea, .vtp-res-flag-info-sheet {
    width: 100%;
    height: 100px;
}

.vtp-res-flag-info-sheet {
    background-color: #ffffff;
}

#vtp-uiaction-close-flagform {
    position: absolute;
    top: 27px;
    right: 15px;
    width: 21px;
    height: 20px;
}

#flag_save {
    position: absolute;
    bottom: 17px;
    right: 15px;
}

#vtp-res-flag-buttons {
}
/*
.vtp-noscrollbar::-webkit-scrollbar {
    width: 0 !important
}

.vtp-noscrollbar {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
*/

#vtp-lexicondata-box a {
    color: #2779aa;
    text-decoration: none;
}

.ui-state-need-to-save {
    border: 1px solid #FF0000 !important;
    color: #FF0000 !important;
}

/************************************************************
 * vtp-project-data & vtp-lexicon-data  vtp-user-data vtp-vitoop-blog                                  *
 ************************************************************/
#vtp-cmstitle {
    padding: 0 0.5em;
}

#vtp-projectdata-title, #vtp-lexicondata-title {
    position: relative;
    margin: auto;
    border: 1px solid #aed0ea;
    padding: 0.3em 2em 0.3em 1em;
    color: #222222;
    font-weight: bold;
    background: #deedf7;
    background: -moz-linear-gradient(left,  #deedf7 0%, #cbebff 47%, #aad8f7 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#deedf7), color-stop(47%,#cbebff), color-stop(100%,#aad8f7));
    background: -webkit-linear-gradient(left,  #deedf7 0%,#cbebff 47%,#aad8f7 100%);
    background: -o-linear-gradient(left,  #deedf7 0%,#cbebff 47%,#aad8f7 100%);
    background: -ms-linear-gradient(left,  #deedf7 0%,#cbebff 47%,#aad8f7 100%);
    background: linear-gradient(to right,  #deedf7 0%,#cbebff 47%,#aad8f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deedf7', endColorstr='#aad8f7',GradientType=1 );
}

#vtp-projectdata-project-close, #vtp-lexicondata-lexicon-close {
    display: inline-block;
    position: absolute;
    border: 1px solid #aed0ea;
    top: 50%;
    right: 0.4em;
    margin: -8px 0 0 0;
    background-color: #f2f5f7;
    cursor: pointer;
}

.vtp-projectdata-unlink {
    display: inline-block;
    position: absolute;
    border: 1px solid #aed0ea;
    margin: -8px 0 0 0;
    background-color: #f2f5f7;
    cursor: pointer;
}

div.login-container > div a {
    text-decoration: none;
    color: #003366;
    margin-left: 2px;
}

div.login-container {
    width: 100%;
    display: inline;
    float: right;
    text-align: left;
    margin-bottom: -14px;
}

div.login-container > div {
    float: right;
}

span.divider {
    margin-left: 4px;
}

input.divider {
    width: 100%;
}

div.divider-wrapper {
    background: #3baae3 url("../img/ui-bg_glass_50_3baae3_1x400.png") 50% 50% repeat-x;
    color: #ffffff !important;
    width: 1122px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bolder;
    height: 23px;
    display: inline-flex
}

input#vtp-search-bytags-taglist {
    height: 21px;
}
#vtp-search-bytags-tagcnt-button {
    height: 25px !important;
    margin-bottom: -10px !important;
}

#vtp-search-bytags-form-submit {
    height: 27px;
}

#vtp-header-login > #username, #vtp-header-login > #password {
    width: 156px;
}

#vtp-projectdata-project-live, #vtp-projectdata-project-edit {
    display: inline-block;
    position: absolute;
    border: 1px solid #aed0ea;
    top: 50%;
    margin: -8px 0 0 0;
    background-color: #f2f5f7;
    cursor: pointer;
}

#vtp-projectdata-project-edit {
    right: 2.6em;
}

#vtp-projectdata-project-live {
    right: 4.0em;
}



#vtp-projectdata-box, #vtp-lexicondata-box {
}

#vtp-projectdata-save-container {
    vertical-align: top;
}

#vtp-projectdata-sheet-edit {
    position: relative;
    width: 720px;
}

#vtp-projectdata-sheet-view, #vtp-projectdata-sheet-info {
    overflow: auto;
    margin: 5px;
    padding: 1em;
    border: 1px solid #aed0ea;
    vertical-align: top;
}

#vtp-projectdata-sheet-info {
    float: right;
}

#vtp-projectdata-sheet-view {
    width: 72%;
}

.ui-state-no-content {
    background: #e6e6e6 url("../img/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x !important;
}

.ui-state-no-content.ui-state-active {
    border: 1px solid #2694e8;
    background: #3baae3 url("../img/ui-bg_glass_50_3baae3_1x400.png") 50% 50% repeat-x !important;
    font-weight: bold;
    color: #ffffff;
}


span.vtp-icon-active {
    background-color: #3baae3 !important;
    background-image: url("../img/ui-icons_ffffff_256x240.png") !important;
    cursor: default !important;
}

#vtp-projectdata-sheet-info > p {
    color: #2779aa;
    margin-bottom: 5px;
    margin-top: 5px;
}

#vtp-projectdata-sheet-info > p > span {
    float: right;
}

#vtp-userdata-save-container {
    position: absolute;
    top: 0.5em;
    right: 2em;
}

#vtp-userdata-sheet-edit {
    position: relative;
    width: 720px;
}

#vtp-vitoopblog-save-container {
    position: absolute;
    top: 0.5em;
    right: 0em;
}

#vtp-vitoopblog-sheet-edit {
    position: relative;
    width: 720px;
}

form#form-tag fieldset {
    padding-right: 22px;
}

/*----------------------------------------------------------------*/

#vtp-res-list tr.vtp-uiaction-list-showdetail {
    height: 40px;
}

#vtp-footer {
    overflow: hidden;
    border: 1px solid #aed0ea;
    /*background-color: #deedf7;*/
    background: #cfe7f7; /* Old browsers */
    background: -moz-linear-gradient(top,  #cfe7f7 0%, #E5F1FA 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7f7), color-stop(100%,#E5F1FA)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cfe7f7 0%,#E5F1FA 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cfe7f7 0%,#E5F1FA 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cfe7f7 0%,#E5F1FA 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cfe7f7 0%,#E5F1FA 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7f7', endColorstr='#E5F1FA',GradientType=0 ); /* IE6-9 */
    color: #2779aa;
    margin-top: 2px;
    padding: 7px;
}

a.vtp-homelink {
    font-family: Merriweather, 'Times New Roman', serif;
    color: #2779aa;
    border: 0 none;
    text-decoration: none;
}

a.vtp-homelink span {
    color: #aed0ea;
}

#vtp-footer-homelink {
    float: left;
}

#vtp-imprint {
    float: right;
}

#vtp-footer #vtp-imprint a, #vtp-footer #vtp-imprint button, div#vtp-login form div.vtp-submit-wrapper input[type=submit] {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    text-decoration: none;
}

#open_lexicon_link {
    font-weight: 400;
    padding: 1px 9px 2px 9px;
}

#open_lexicon_link > span {
    padding: 0 !important;
    line-height: 19px;
}

.created-info {
    padding-left: 99px;
}

.created-info-book {
    padding-left: 64px;
}

.created-info-project {
    padding-left: 131px;
}

#resource-quickview form#vtp-form-data label{
    color: #2779aa;
    font-size: 0.85em;
}

#button-help-save, #button-terms-save {
    width: 100%;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#button-user-agreed {
    margin: 15px auto 15px 20%;
    width: 60%;
    height: 45px;
    font-size: 19px;
    border: 1px solid #aed0ea;
    background: #d7ebf9 url("../img/ui-bg_glass_80_d7ebf9_1x400.png") 50% 50% repeat-x;
    color: #2779aa;
}

#button-user-agreed:hover {
    border: 1px solid #2694e8;
    background: #3baae3 url("../img/ui-bg_glass_50_3baae3_1x400.png") 50% 50% repeat-x;
    color: #ffffff;
}


div.ui-dialog-titlebar > button {
    outline: 0 none;
}

fieldset {
    border: 1px solid #aed0ea;
    margin: 0;
    padding: 0.5em;
}

legend {
    color: #2779aa;
    padding: 0.1em 0.5em;
}

div#vtp-res-dialog-tabs > div {
    padding: 1em 1em;
}

#vtp-credentials form div {
    margin-top: 5px;
    margin-bottom: 5px;

}

#vtp-credentials div {
    vertical-align: top;
}


input.ng-invalid{
    border-color: red;
}

.vtp-button-light {
    background-color: #ffffff;
    color: #2779aa;
    border: 1px solid #aed0ea;
    padding-bottom: 5px;
    padding-top: 5px
}

div#vtp-res-list table input[disabled="disabled"] {
    border: none;
    background-color: inherit;
    margin-left: 15px;
}