{% extends "VitoopInfomgmtBundle:Resource:layout.html.twig" %}
{% block title %}Registrierung{% endblock %}
{% block content %}
<div id="vtp-login-main-container" class="ui-corner-all"> 
    <div id="vtp-forgot" class="ui-corner-all">        
        <form action="{{ path('forgot_password') }}" method="post" enctype="application/x-www-form-urlencoded">
            {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="ui-state-highlight ui-corner-all vtp-fh-top-center">
                {{ flashMessage }}
            </div>
            {% endfor %}
            <div class="vtp-fh-top-center">
                <label for="email">Email:</label>
                <input class="vtp-fh-w60" type="email" name="email" id="email" required>
                <input value="{{'label.send'|trans}}" type="submit" class="ui-corner-all ui-state-default">
            </div>
            {% for flashMessage in app.session.flashbag.get('sucess') %}
                <div class="vtp-uiinfo vtp-fh-top-center">
                    <div class="vtp-fh-w40">
                    {{ flashMessage|trans }}
                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock %}