{% extends "VitoopInfomgmtBundle:Resource:layout.html.twig" %}
{% block title %}Einladung verschicken{% endblock %}
{% block content %}
    {{ form_start(fv, {'attr': {'id': 'vtp-form-invite', 'novalidate': 'novalidate' }}) }}
    <fieldset class="ui-corner-all">
        <legend>Einladung</legend>
        <div id="vtp-invite-container">
            {{ form_errors(fv) }}
            <div class="vtp-fh-middle">
                {{ form_label(fv.email, null, {'label_attr': {'class': 'vtp-fh-w90'}}) }}
            </div>
            <div class="vtp-fh-middle">
                {{ form_widget(fv.email, {'attr': {'class': 'vtp-fh-w100' }}) }}
                <div class="vtp-uiinfo-form-error">{{ form_errors(fv.email) }}</div>
            </div>
            <div class="vtp-fh-right">
                {{ form_widget(fv.save, {'attr': {'class': 'vtp-uiinfo-anchor ui-button ui-widget ui-state-default' }}) }}
            </div>
            
            {% if info is defined and info is not empty %}
                <div class="vtp-fh-bottom">
                    {{ info }}
                </div>
            {% endif %}
        </div>
    </fieldset>
    {{ form_end(fv) }}
{% endblock %}
