<div id="vtp-login-main-container" class="ui-corner-all"> 
    <div id="vtp-login-container">
    {% if error %}
        <div id="vtp-login-error" class="ui-state-highlight ui-corner-all">
            <span class="vtp-fh-w35"></span>
            <span class="vtp-fh-w60">{{ error.message|trans }}</span>
        </div>
    {% endif %}
    <div id="vtp-login" class="ui-corner-all">
        <form action="{{ path('_login_check') }}" method="post" enctype="application/x-www-form-urlencoded">
            <div class="vtp-fh-top">
                <label for="username" class="vtp-fh-w40">{{'label.username'|trans}}:</label>
                <input id="username" class="vtp-fh-w55" name="_username" type="text" value="{{ last_username }}">
            </div>
            <div class="vtp-fh-bottom">
                <label for="password" class="vtp-fh-w40">{{'label.password'|trans}}:</label>
                <input id="password" class="vtp-fh-w55" name="_password" type="password">
            </div>
            {#
                 If you want to control the URL the user is redirected to on success (more details below)
                 <input type="hidden" name="_target_path" value="/account" />
            #}
            <div class="vtp-submit-wrapper">
                <input value="{{'label.signin'|trans}}" type="submit" id="login-button-main">
            </div>
        </form>
    </div>
</div>
</div>
<script>
    $('#login-button-main').button();
</script>
