#button-checking-links__wrapper {
  display: inline-block;
  transition: 1s;
  opacity: 0;
  position: relative;
  left: -300px;
}

#vtp-user-userdata, #vtp-admin-toolbar-toggle {
  width: 34px;
}

#vtp-user-userdata {

  i.fa, i.fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 12px;
  }
}